body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
  }
.landing-page{
    background-image: url(zee.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;

}


/* csss for mobile */

@media (max-width: 768px) {
    .landing-page {
        grid-template-columns: 1fr; /* Single column on mobile */
        grid-template-rows: 1fr 1fr; /* Two rows vertically */
    }
    .circle{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }}
    /* .card-1, .card-2, .card-3{
         width: 900vh;
         margin: 0;
         padding: 0;
    }
} */
h1{
    color: white;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700; /* Bold for headings */
    margin: 20px 0;
}
.moto-line{
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    
}
.left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

h2{
    color: white;
    font-size: 3rem;
    position: absolute;
    transform: rotate(-20deg);
    top: 35%; 
}
img{
    max-width: 100%;
    height: auto;
}

h1, h2 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700; /* Bold for headings */
    
}
@media (max-width: 768px) {
    h2{
        position: absolute;
        top: 63%;
    }
}
.circle{
    position: absolute;
    max-width: 35%;
    height: auto;
    top: 12%;
    left: 6%;
}
.cards{
    display: flex;
  color: rgb(93, 105, 27);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.card-1, .card-2, .card-3{
width: 25%;
padding: 20px;
margin: 5%;

}
.card-1 img, .card-2 img, .card-3 img{
border-radius: 6px;
animation: glow 1s infinite;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px 2px rgba(170,156,143));
    }
    50% {
      box-shadow: 0 0 20px 4px rgb(170,156,143);
    }
    100% {
      box-shadow: 0 0 10px 2px rgba(170,156,143));
    }
  }
.features{
    padding-top: 100px;
background-color: #dfeddb;
}
h3{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500; /* Bold for headings */
    color: black;

}
.btn-features{
    width: 200px;
    height: 51px;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    background-color: #bebeb8;
    color: rgb(88, 84, 84)
    
}
.footer{
    background-image: url(footer-background.png);
height: 100vh;
width: auto;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
h4{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 105pt;
    text-align: left;
}
.footer-header{
    margin: 0;
    padding: 0;
}
.footer-address{
    color: white;
    font-size: 30.4pt;
    margin: 0;
    padding: 0;
    text-align: left;
}
.footer-address p{
    margin: 0;
}
@media (max-width: 768px) {
    .card-1, .card-2, .card-3 {
        width: 80%;
        margin: 10px 0;
        padding: 15px;
        text-align: left;
    }
}
